{% load static bootstrap4 custom_code_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'tom_common/css/main_snexclone.css' %}">
    {% block additional_css %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'tom_common/img/favicon-32.ico' %}" sizes="32x32" />
    <link rel="icon" type="image/x-icon" href="{% static 'tom_common/img/favicon-16.ico' %}" sizes="16x16" />

    {% bootstrap_javascript jquery='True' %}

    <title>SNEX 2.0 | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="/"><img src="{% static 'tom_common/img/logo-color-cropped.png' %}" class="img-fluid">SNEx 2.0</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a class="nav-link" href="/" style="font-family: 'Montserrat', sans-serif;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-family: 'Montserrat', sans-serif;">Targets</a>
            <ul class="dropdown-menu">
              <li class="nav-item {% if request.resolver_match.namespace == 'targets' %}active{% endif %}">
                <a class="nav-link" href="{% url 'targets:list' %}"><font color="black">Targets</font></a>
              </li>
              <li class="nav-item {% if request.resolver_match.namespace == 'targets' %}active{% endif %}">
                <a class="nav-link" href="{% url 'targets:targetgrouping' %}"><font color="black">Observing Runs</font></a>
		<a class="nav-link" href="{% url 'interesting-targets' %}"><font color="black">Interesting Targets</font></a>
              </li>
            </ul>
          </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-family: 'Montserrat', sans-serif;">Alerts</a>
	    <ul class="dropdown-menu">
              <li class="nav-item {% if request.resolver_match.namespace == 'alerts' %}active{% endif %}">
		<a class="nav-link" href="{% url 'alerts:list' %}"><Font color="black">Make a Query</font></a>
		<a class="nav-link" href="{% url 'broker-targets' %}"><font color="black">Automatic Filters</font></a>
              </li>
	    </ul>
	  </li>
          <li class="nav-item {% if request.resolver_match.namespace == 'observations' %}active{% endif %}">
              <a class="nav-link" href="{% url 'scheduling' %}" style="font-family: 'Montserrat', sans-serif;">Scheduling</a>
          </li>
          <li class="nav-item {% if request.resolver_match.namespace == 'dataproducts' %}active{% endif %}">
              <a class="nav-link" href="{% url 'tom_dataproducts:list' %}" style="font-family: 'Montserrat', sans-serif;">Data</a>
          </li>
	  <li class="nav-item {% if request.resolver_match.namespace == 'floyds-inbox' %}active{% endif %}">
	      <a class="nav-link" href="{% url 'floyds-inbox' %}" style="font-family: 'Montserrat', sans-serif;">Floyds Inbox</a>
	  </li>
          <li class="nav-item {% if 'user' in request.resolver_match.url_name %}active{% endif %}">
            <a class="nav-link" href="{% url 'user-list' %}" style="font-family: 'Montserrat', sans-serif;">Users</a>
          </li>
	  <li class="nav-item {% if request.resolver_match.namespace == 'custom_code' %}active{% endif %}">
            <a class="nav-link" href="{% url 'custom_code:tns-targets' %}" style="font-family: 'Montserrat', sans-serif;">TNS Targets</a>
          </li>
	  <li class="nav-item" style="align-self: center;padding: 10px">
	    <div class="target-search">
	      <form action="{% url 'redirect' %}" method="get">
                <input name="name" type="text" placeholder="Search by name or coords">
              </form>
	    </div>
	  </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
	  <li class="nav-item">
	    {% time_usage_bars '1M0' %}
	  </li>
	  <li>
	    {% time_usage_bars '2M0' %}
	  </li>
          <li class="nav-item">
            {% if user.first_name or user.last_name %}
            <a class="nav-link" href="{% url 'user-update' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
            {% else %}
            <a class="nav-link" href="{% url 'user-update' user.id %}">User {{ user.id }}</a>
            {% endif %}
          </li>
          <li>
            <a class="btn btn-outline-success" title="logout" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-success" title="logout" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container">
      {% bootstrap_messages %}
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

    </main>

  {% block javascript %}
    {% endblock %}
    {% block extra_javascript %}
    {% endblock %}
  </body>
</html>
