dataclasses
tomtoolkit
gunicorn[gevent]
django-heroku
django-storages
boto3
requests_oauthlib
python-magic
sqlalchemy
dash==1.16.3
django_plotly_dash==1.4.2
lcogt-logging
tom_registration
dash-bootstrap-components==0.12.0
dash-core-components==1.12.1
matplotlib
mysqlclient==1.4.6
swifttools
