dataclasses
tomtoolkit==2.12.0
tom-scimma
tom-nonlocalizedevents
tom-alertstreams
gunicorn[gevent]
django==3.2.16
django-heroku
django-storages
boto3
requests_oauthlib
python-magic
sqlalchemy
cryptography==3.3.2
werkzeug==2.2.3
flask==2.1.3
dash==1.16.3
django_plotly_dash==1.4.2
lcogt-logging
tom_registration
dash-bootstrap-components==0.12.0
dash-core-components==1.12.1
matplotlib
mysqlclient==1.4.6
lasair
importlib-metadata==4.13.0
