{% extends 'tom_common/base.html' %}
{% load static %}
{% block title %}Non-Localized Event List{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Non-Localized Event List</h3>
  </div>
</nav>
{% if object_list %}
  <table class="table">
      <thead>
      <tr>
          <th scope="col">Detail Page</th>
          <th scope="col">GraceDB</th>
          <th scope="col">Treasure Map</th>
          <th scope="col">Event Type</th>
      </tr>
      <thead>
      <tbody>
      {% for event in object_list %}
      <tr>
          <td scope="row">
	      {{event.id}}. <b>{{ event.superevent_id }}</b>
              <a href="{% url 'nonlocalizedevents:detail'  event.id %}"> (Event Details)</a>
	      <a href=""> (Follow-up Candidates)</a>
          </td>
          <td>
            <a href="{{ event.gracedb_url }}">{{ event.superevent_id }}</a>
        </td>
        <td>
            <a href="{{ event.treasuremap_url }}">{{ event.superevent_id }}</a>
        </td>
      <td>{{ event.superevent_type }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
    <p>Superevents from the alert stream listener will be added here.</p>
{% endif %}

{% endblock content %}
