{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <div id="target-info">
      {% target_feature object %}
      {% target_data object %}
      {% reduced_data_lightcurve target %}
    </div>
  </div>
  <div class="col-md-7">
    <ul class="nav nav-tabs" id="tabs">
      <li class="nav-item">
        <span class="nav-link active" data-target="#overview" data-toggle="tab">Overview</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#spectra" data-toggle="tab">Spectra</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#images" data-toggle="tab">Images</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#cross-reference" data-toggle="tab">Cross-Reference</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#upload-data" data-toggle="tab">Upload Data</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#download-data" data-toggle="tab">Download Data</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#schedule" data-toggle="tab">Schedule Observations</span>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane in active" id="overview">
        <h5>Current Visibility at LCOGT</h5>
        {% target_plan %}
        <hr />
        {% aladin object %}
        <hr />
        {% comments_enabled as comments_are_enabled %}
        <h5>Comments</h5>
          {% if comments_are_enabled %}
            {% render_comment_list for object %}
            {% url 'targets:detail' object.id as next %}
            {% if user.is_authenticated %}
              {% render_comment_form for object %}
            {% endif %}
          {% endif %}
      </div>
      <div class="tab-pane" id="spectra">
        <h4>Spectra</h4>
        <p>Under construction</p>
      </div>
      <div class="tab-pane" id="images">
        <h4>Examine Images</h4>
        <a href="{% url 'targets:detail' pk=target.id %}?update_status=True" title="Update status of observations for target" class="btn btn-primary">Update Observations Status</a>
        {% observation_list object %}
      </div>
      <div class="tab-pane" id="cross-reference">
        <h4>Cross-Reference</h4>
        <p>Under construction</p>
      </div>
      <div class="tab-pane" id="upload-data">
        <!--{% target_lightcurve target %}-->
        {% upload_dataproduct %}
        {% dataproduct_list_for_target object %}
      </div>
      <div class="tab-pane" id="download-data">
        <h4>Batch Download Data</h4>
        <p>Under construction</p>
      </div>
      <div class="tab-pane" id="schedule">
        <h4>Schedule Observations</h4>
        {% observing_buttons object %}
        {% moon_plot object %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
