{% extends 'tom_common/base.html' %}
{% load static bootstrap4 crispy_forms_tags %}
{% load targets_extras custom_code_tags %}
{% block title %}Broker Query Targets{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>View Broker Query Targets</h3>
  </div>
</nav>
<h2 class="text-center">Recent targets from broker alert streams</h2>
<div>
  <form action="" method="get" class="form">
    {% crispy filter.form %}
  </form>
  <h4>Results</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
	<!--th><br /><p></p></th-->
        <th>Name<br /><p></p></th>
        <th>Coordinates<br /><p></p></th>
        <th>Name of Stream<br /><p></p></th>
	<th>Redshift<br /><p></p></th>
	<th>Classification<br /><p></p></th>
	<th>Status<br /><p></p></th>
      </tr>
    </thead>
    <tbody>
    {% for target in brokertargets %}
      <tr>
	<!--td><input type="checkbox" name="selected-target" value="{{ target.id }}" onClick="single_select()"/></td-->
	<td rowspan=2>
          <button class="btn btn-primary" data-toggle="collapse" data-target="#show-both-{{target.name}}">+</button>
	  {% if 'ZTF' in target.name %}
	  <a target="_blank" href="https://alerce.online/object/{{ target.name }}">{{ target.name }}</a>
	  {% else %}
	  <a target="_blank">{{ target.name }}</a>
	  {% endif %}
        </td>
	<td>{{ target.coords }}</td>
	<td>{{ target.stream_name }}</td>
	{% if target.redshift %}
	<td>{{ target.redshift }} ({{ target.redshift_source}})</td>
	{% else %}
	<td>None</td>
	{% endif %}
	{% if target.classification %}
        <td>{{ target.classification }}</td>
	{% else %}
	<td>None</td>
	{% endif %}
	<td>{{ target.status }}</td>
      </tr>
      <tr>
        <td colspan=6 style="border-top:none;">
          <div class="collapse" id="show-both-{{target.name}}">
            <div style="display: inline-block;">{% aladin_collapse target %}</div>
            <div style="display: inline-block;">{% airmass_collapse target %}</div>
	    <div style="display: inline-block;">{% broker_target_lightcurve target %}</div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
</div>
{% endblock %}
