{% load plotly_dash %}
<table class="table">
<tbody>
{% for entry in plot_list %}
  <tr valign="top">
    <td width=200>
      <div class="row"><b>{{ entry.time }}</b></div>
      <div class="row">Telescope: {{ entry.spec_extras.telescope }} {{ entry.spec_extras.site }}</div>
      <div class="row">Instrument: {{ entry.spec_extras.instrument }}</div>
      <div class="row">Exposure Time: {{ entry.spec_extras.exptime|floatformat:0 }}s</div>
      <div class="row">Slit: {{ entry.spec_extras.slit }}"</div>
      <div class="row">Airmass: {{ entry.spec_extras.airmass|floatformat:2 }}</div>
      <div class="row">Reduced by: {{ entry.spec_extras.reducer }}</div>
      {% for comment in entry.spec_extras.comments %}
      <div class="row">{{ comment }}</div>
      {% endfor %}
      <div class="row">
	<input id="comment-{{ entry.spectrum.id }}" type="text" name="comment" placeholder="Add a comment">
	<input onclick="savecomment({{ entry.spectrum.id }})" type="submit" class="btn btn-primary btn-post" name="submit" value="Submit">
      </div>
    </td>
    <td width=1000>
      {% plotly_app name="Spectra_Individual" ratio=0.6 initial_arguments=entry.dash_context %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
