{% extends 'tom_common/base.html' %}
{% load bootstrap4 observation_extras targets_extras static custom_code_tags %}
{% block title %}Observations{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Active Sequences</h3>
  </div>
</nav>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
      </div>
      <div class="col-md-6">
	<div class="row">
          <div class="col-md-4">
            <a class="btn btn-primary" href="{% url 'observation-list' key='ipp' %}">View by Highest IPP</a>
          </div>
          <div class="col-md-4">
            <a class="btn btn-primary" href="{% url 'observation-list' key='urgency' %}">View by Most Overdue</a>
          </div>
	  <div class="col-md-4">
	    <a class="btn btn-primary" href="{% url 'scheduling' %}">Return to Scheduling</a>
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="checkbox" id="checkbox-pessto" onclick="showTable('pessto')" value="Show ePESSTO Sequences">
        <label for="checkbox-pessto">Show ePESSTO Sequences</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="checkbox" id="checkbox-dlt40" onclick="showTable('dlt40')" value="Show DLT40 Sequences">
        <label for="checkbox-dlt40">Show DLT40 Sequences</label>
      </div>
    </div>
    <div class="row">
      <h4>In Order of Decreasing {{ value }}</h4>
    </div>
    {% for q in observation_list %}
    {% scheduling_list_with_form q 'notpending' %}
    {% if value == 'IPP' %}
    {% if 'SUPA202' in q.parameters.proposal %}
    <div class="row pessto-table">
    {% elif q.parameters.proposal == 'LCO2022A-013' %}
    <div class="row dlt40-table">
    {% else %}
    <div class="row">
    {% endif %}
      <a>The IPP is {{ q.parameters.ipp_value }}</a>
    </div>
    {% elif value == 'URGENCY' %}
    {% if 'SUPA202' in q.parameters.proposal %}
    <div class="row pessto-table">
    {% elif q.parameters.proposal == 'LCO2022A-013' %}
    <div class="row dlt40-table">
    {% else %}
    <div class="row">
    {% endif %}
      <a>It has been {{ q.urgency|urgency_converter }} times the cadence length since the last observation</a>
    </div>
    {% endif %}
    {% endfor %}
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
</div>
<script>
function showTable(groupname) {
  var sequences = document.getElementsByClassName(groupname+'-table');
  for (var i = 0; i < sequences.length; i++) {
    if (sequences[i].style.display != 'block') {
      sequences[i].style.display = 'block';
    } else {
      sequences[i].style.display = 'none';
    }
  }
}
function modify_sequence(clickedId) {
  var oldval = document.getElementById(clickedId).value;
  document.getElementById(clickedId).value = 'Loading...';
  var thenum = clickedId.replace( /^\D+/g, '');
  var theformstr = '#scheduling-form-' + thenum;
  if (clickedId.includes('stop')) {
    var cancelComment = prompt('Reason for stopping observations:', '');
    var commentObj = {'cancel':cancelComment};
  } else if (clickedId.includes('modify')) {
    var cancelComment = prompt('Reason for modifying this sequence:', '');
    //var beginComment = prompt('Any comment for this sequence:', '');
    //var commentObj = {'cancel':cancelComment, 'begin':beginComment};
    var commentObj = {'cancel':cancelComment};
  } else {
    var commentObj = {'none': ''};
  }
  var commentJSON = JSON.stringify(commentObj);
  $.ajax({
    url: '{% url "custom_code:scheduling" %}',
    data: $(theformstr).serialize() + "&button=" + clickedId + "&comment=" + commentJSON,
    dataType: 'json',
    success: function(response) {
      if (response.hasOwnProperty('failure')) {
        alert(response.failure);
        document.getElementById(clickedId).value = oldval;
      } else {
        document.getElementById(clickedId).value = response.success;
      }
    }
  });
}
$("body").on("keyup", ".cadence-input", function() {
  var t = this;
  var table = t.closest(".table");
  var delay_start = table.querySelectorAll('input[name="delay_start"]')[0];
  var newreminder = 2*parseFloat(t.value) + parseFloat(delay_start.value) + 0.7;
  var reminder = table.querySelectorAll('input[name="reminder"]')[0];
  reminder.value = newreminder;
});
$("body").on("keyup", ".delay-start-input", function() {
  var t = this;
  var table = t.closest(".table");
  var cadence_input = table.querySelectorAll('input[name="cadence_frequency"]')[0];
  var newreminder = 2*parseFloat(cadence_input.value) + parseFloat(t.value) + 0.7;
  var reminder = table.querySelectorAll('input[name="reminder"]')[0];
  reminder.value = newreminder;
});
</script>
{% endblock %}
