<table class="table">
  <thead>
    <tr>
      <th style="width: 5%;">Share</th>
      <th style="width: 10%;">Telescope</th>
      <th style="width: 10%;">Instrument</th>
      <th style="width: 20%;">Date Observed</th>
      <th style="width: 10%;">Filter</th>
      <th style="width: 10%;">Magnitude</th>
      <th style="width: 10%;">Error</th>
      <th style="width: 25%;">Shared With</th>
    </tr>
  </thead>
  {% for phot in photometry %}
    <tr> 
      <td><input type="checkbox" class="phot-row" id="phot-row-{{ phot.id }}"></td>
      <td></td>
      <td></td>
      <td>{{ phot.timestamp }}</td>
      <td>{{ phot.value.filter }}</td>
      <td>{{ phot.value.magnitude }}</td>
      <td>{{ phot.value.error }}</td>
      <td></td>
    </tr>
  {% endfor %}
</table>
<div class="row" style="display: block;">
  <p>Share to 
    <select id="phot-topic-choices" style="background-color: white;">
      <option id="topic1" value="topic1">Topic1</option>
      <option id="topic2" value="topic2">Topic2</option>
    </select>
  </p>
</div>
<div class="row" style="display: block;">
  <button class="btn" style="border-color: #174460;" id="hermes-btn" onclick="sharePhotometry()">Share to Hermes</button>
</div>
<script>
function sharePhotometry() {
  var checkboxes = document.getElementsByClassName("phot-row");
  var checkedIds = [];
  for (var i=0; i<checkboxes.length; i++) {
    if (checkboxes[i].checked) {
      checkedIds.push(checkboxes[i].id.split('-')[2]);
    }
  };
  var topic = document.getElementById('phot-topic-choices').value;
  console.log(checkedIds);
  $.ajax({
    url: '{% url "submit-to-hermes" %}',
    data: {'topic': topic,
	   'phot_id': JSON.stringify(checkedIds),
    },
    contentType: "application/JSON",
    dataType: "json",
    success: function(response) {
      document.getElementById('share-btn').innerHTML = response.success;
   },
  })
}
</script>
