{% load targets_extras custom_code_tags %}
<table class="table">
  <thead>
    <tr>
      <th>View</th>
      <th>Target</th>
      <th>Facility</th>
      <th>Observation Type</th>
      <th>Cadence</th>
      <th>IPP</th>
      <th>Max Airmass</th>
      <th>Instrument</th>
      <th>Exposures</th>
      <th>Start</th>
      <th>End</th>
      <th>Classification</th>
    </tr>
  </thead>
  <tbody>
    {% for parameter in parameters %}
    <tr>
      <td><a class="btn btn-success" href="{% url 'tom_observations:detail' parameter.observation_id %}">Details</a></td>
      <td><a href="{% url 'tom_targets:detail' parameter.target.id %}" title="{{ parameter.target.id }}">{{ parameter.target.names|join:", " }}</a></td>
      <td>{{ parameter.facility }}</td>
      <td>{{ parameter.observation_type }}</td>
      <td>{{ parameter.cadence }} days</td>
      <td>{{ parameter.ipp }}</td>
      <td>{{ parameter.airmass }}</td>
      <td>{{ parameter.instrument }}</td>
      <td>
	{% for exposure in parameter.exposures %}
	  {{ exposure.filter }}: {{ exposure.number }} x {{ exposure.exp_time }}s<br>
	{% endfor %}
      </td>
      <td>{{ parameter.start }}</td>
      <td>{{ parameter.end }}</td>
      <td>
      {% with parameter.target as target %}
        {% if target|target_extra_field:"classification" %}
          {{ target|target_extra_field:"classification" }}
        {% else %}
          None
        {% endif %}
      {% endwith %}
      </td>
    </tr>
      <td colspan=10 style="border-top:none;">
        <div class="collapse show" id="show-both-{{parameter.target.name|cut:" "}}">
          <div id="lightcurve-{{parameter.observation_id}}" class="lightcurve-{{parameter.target.name|cut:" "}}" style="display: inline-block; text-align: center"></div>
          <div id="spectra-{{parameter.observation_id}}" class="spectra-{{parameter.target.name|cut:" "}}" style="display: inline-block; text-align: center"></div>
          <div id="airmass-{{parameter.observation_id}}" class="airmass-{{parameter.target.name|cut:" "}}" style="display: inline-block; text-align: center"></div>
        </div>
      </td>
    </tr>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: '{% url "targetlist_collapse" %}',
          data: {'target_id': {{ parameter.target.id }},
                 'user_id': {{ parameter.user_id }}},
          dataType: 'json',
          success: function(response) {
            var lightcurve_plot = response.lightcurve_plot;
            $('#lightcurve-{{parameter.observation_id}}').html(lightcurve_plot);
            var spectra_plot = response.spectra_plot;
            $('#spectra-{{parameter.observation_id}}').html(spectra_plot);
            var airmass_plot = response.airmass_plot;
            $('#airmass-{{parameter.observation_id}}').html(airmass_plot);
          }
        });
      });
    </script>
    {% empty %}
    <tr>
      <td colspan="7">
        No observations yet. You might want to create an observation from one of
        <a href="{% url 'tom_targets:list' %}">your saved targets</a>.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
