{% load bootstrap4 targets_extras custom_code_tags %}
<style>
#id_cadence_frequency {
    width: 50px;
}
#id_ipp_value {
    width: 50px;
}
#id_max_airmass {
    width: 50px;
}
#id_reminder {
    width: 50px;
}
.exposure-row {
    width: 325px;
}
.btn {
    width: 90%;
}
.pessto-table {
    display: none;
}
.dlt40-table {
    display: none;
}
</style>
{% for parameter in parameters %}
{% if 'SUPA202' in parameter.proposal %}
<table class="table pessto-table">
{% elif parameter.proposal == 'LCO2022A-013' %}
<table class="table dlt40-table">
{% else %}
<table class="table">
{% endif %}
  <thead>
    <tr>
      <th style="width: 5%;">View</th>
      <th style="width: 5%;">Target</th>
      <th style="width: 5%;">Facility and Proposal</th>
      <th style="width: 5%;">Observation Type</th>
      <th style="width: 5%;">Instrument</th>
      <th style="width: 5%;">Cadence</th>
      <th style="width: 5%;">IPP</th>
      <th style="width: 5%;">Max Airmass</th>
      <th style="width: 20%;">Exposures</th>
      <th style="width: 15%;">Reminder in</th>
      <th style="width: 7.5%;">Start</th>
      <th style="width: 7.5%;">Reminder</th>
      <th style="width: 5%;">Classification</th>
      <th style="width: 5%;">Redshift</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a class="btn btn-success" href="{% url 'custom_code:observationgroup-detail' parameter.obsgroup_id %}">Details</a></td>
      <td><a href="{% url 'tom_targets:detail' parameter.target.id %}" title="{{ parameter.target.id }}">{{ parameter.names|join:", " }}</a></td>
      <td>
	<div class="row">{{ parameter.facility }}</div>
	<div class="row">{{ parameter.proposal }}</div>
      </td>
      <td>{{ parameter.observation_type }}</td>
      <td>{{ parameter.instrument }}</td>
      {% if parameter.observation_type == "Phot" %}
      <form method="post" class="form" id="scheduling-form-{{ parameter.observation_id }}">
	{% bootstrap_form form exclude='cadence_frequency,ipp_value,max_airmass,U,B,V,R,I,u,gp,rp,ip,zs,w,reminder,delay_start' %}
	<td>
	  <div class="row">{{ form.cadence_frequency }}</div>
	  <!--div class="row" style="width: 100px;">
	    <input type="checkbox" id="delay-start-{{ parameter.observation_id }}">
	    <label for="delay-start-{{ parameter.observation_id }}">Delay Start By</label>
	  </div-->
	</td>
	<td>{{ form.ipp_value }}</td>
	<td>{{ form.max_airmass }}</td>
	<td>
	  <div class="exposure-row">Exposure Time Exposures Block No.</div>
	  <div class="exposure-row">{{ form.U.label }}{{ form.U }}</div>
	  <div class="exposure-row">{{ form.B.label }}{{ form.B }}</div>
	  <div class="exposure-row">{{ form.V.label }}{{ form.V }}</div>
	  <div class="exposure-row">{{ form.R.label }}{{ form.R }}</div>
	  <div class="exposure-row">{{ form.I.label }}{{ form.I }}</div>
	  <div class="exposure-row">{{ form.u.label }}{{ form.u }}</div>
	  <div class="exposure-row">{{ form.gp.label }}{{ form.gp }}</div>
	  <div class="exposure-row">{{ form.rp.label }}{{ form.rp }}</div>
	  <div class="exposure-row">{{ form.ip.label }}{{ form.ip }}</div>
	  <div class="exposure-row">{{ form.zs.label }}{{ form.zs }}</div>
	  <div class="exposure-row">{{ form.w.label }}{{ form.w }}</div>
	</td>
	<td>
	  <div class="row">{{ form.reminder }} days</div>
	  <div class="row">
	  {% csrf_token %}
	  {% buttons %}
	  {% if parameter.case == 'pending' %}
	  <input onclick="approveRejectSequence({{ parameter.observation_id }}, 'approved')" class="btn" style="background-color: green; color: white;" value="Approve Sequence" id="approve-{{ parameter.observation_id }}" readonly>
          <input onclick="approveRejectSequence({{ parameter.observation_id }}, 'rejected')" class="btn" style="background-color: red; color: white;" value="Reject Sequence" id="reject-{{ parameter.observation_id }}" readonly>
	  {% else %}
	  <input onclick="modify_sequence(this.id)" class="btn" style="background-color: green; color: white;" value="Continue As-is" id="continue-{{ parameter.observation_id }}" readonly>
	  <input onclick="modify_sequence(this.id)" class="btn" style="background-color: red; color: white;" value="Stop Sequence" id="stop-{{ parameter.observation_id }}" readonly>
	  <input onclick="modify_sequence(this.id)" class="btn btn-primary" value="Modify Sequence" id="modify-{{ parameter.observation_id }}" readonly>
	  <div>and delay start by {{ form.delay_start }} days</div>
	  {% endif %}
          {% endbuttons %}
	  </div>
	</td>
      </form>
      {% else %}
      <form method="post" class="form" id="scheduling-form-{{ parameter.observation_id }}">
	{% bootstrap_form form exclude='cadence_frequency,ipp_value,max_airmass,exposure_time,reminder,delay_start' %}
	<td>{{ form.cadence_frequency }}</td>
	<td>{{ form.ipp_value }}</td>
	<td>{{ form.max_airmass }}</td>
	<td>
	  <div class="exposure-row">Exposure Time</div>
	  <div class="exposure-row">{{ form.exposure_time }}</div>
	</td>
	<td>
	  <div class="row">{{ form.reminder }} days</div>
	  <div class="row">
	  {% csrf_token %}
	  {% buttons %}
	  {% if parameter.case == 'pending' %}
	  <input onclick="approveRejectSequence({{ parameter.observation_id }}, 'approved')" class="btn" style="background-color: green; color: white;" value="Approve Sequence" id="approve-{{ parameter.observation_id }}" readonly>
          <input onclick="approveRejectSequence({{ parameter.observation_id }}, 'rejected')" class="btn" style="background-color: red; color: white;" value="Reject Sequence" id="reject-{{ parameter.observation_id }}" readonly>
	  {% else %}
	  <input onclick="modify_sequence(this.id)" class="btn" style="background-color: green; color: white;" value="Continue As-is" id="continue-{{ parameter.observation_id }}" readonly>
	  <input onclick="modify_sequence(this.id)" class="btn" style="background-color: red; color: white;" value="Stop Sequence" id="stop-{{ parameter.observation_id }}" readonly>
	  <input onclick="modify_sequence(this.id)" class="btn btn-primary" value="Modify Sequence" id="modify-{{ parameter.observation_id }}" readonly>
	  <div>and delay start by {{ form.delay_start }} days</div>
	  {% endif %}
          {% endbuttons %}
	  </div>
	</td>
      </form>
      {% endif %}
      <td>
	<div class="row">{{ parameter.start }}</div>
	<div class="row">{{ parameter.comment }}</div>
      </td>
      <td>{{ parameter.reminder }}</td>
      <td>
      {% with parameter.target as target %}
        {% if target|target_extra_field:"classification" %}
          {{ target|target_extra_field:"classification" }}
        {% else %}
          None
        {% endif %}
      </td>
      <td>
	{% if target|target_extra_field:"redshift" %}
	  {% with z=target|target_extra_field:"redshift" %}
	  {{ z|strip_trailing_zeros }}
	  {% endwith %}
	{% else %}
	  None
	{% endif %}
      {% endwith %}
      </td>
    </tr>
      <td colspan=10 style="border-top:none;">
        <div class="collapse show" id="show-both-{{parameter.target.name|cut:" "}}">
          <div id="lightcurve-{{parameter.observation_id}}" class="lightcurve-{{parameter.target.name|cut:" "}}" style="display: inline-block; text-align: center"></div>
          <div id="spectra-{{parameter.observation_id}}" class="spectra-{{parameter.target.name|cut:" "}}" style="display: inline-block; text-align: center"></div>
          <div id="airmass-{{parameter.observation_id}}" class="airmass-{{parameter.target.name|cut:" "}}" style="display: inline-block; text-align: center"></div>
        </div>
      </td>
    </tr>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: '{% url "targetlist_collapse" %}',
          data: {'target_id': {{ parameter.target.id }},
                 'user_id': {{ parameter.user_id }}},
          dataType: 'json',
          success: function(response) {
            var lightcurve_plot = response.lightcurve_plot;
            $('#lightcurve-{{parameter.observation_id}}').html(lightcurve_plot);
            var spectra_plot = response.spectra_plot;
            $('#spectra-{{parameter.observation_id}}').html(spectra_plot);
            var airmass_plot = response.airmass_plot;
            $('#airmass-{{parameter.observation_id}}').html(airmass_plot);
          }
        });
      });
    </script>
  </tbody>
</table>
{% empty %}
<div class="row">
    No observations yet. You might want to create an observation from one of
    <a href="{% url 'tom_targets:list' %}">your saved targets</a>.
</div>
{% endfor %}
<script>
function modify_sequence(clickedId) {
  var thenum = clickedId.replace( /^\D+/g, '');
  var theformstr = '#scheduling-form-' + thenum;
  if (clickedId.includes('stop')) {
    var cancelComment = prompt('Reason for stopping observations:', '');
    var commentObj = {'cancel':cancelComment};
  } else if (clickedId.includes('modify')) {
    var cancelComment = prompt('Reason for stopping observations:', '');
    var beginComment = prompt('Any comment for this sequence:', '');
    var commentObj = {'cancel':cancelComment, 'begin':beginComment};
  } else {
    var commentObj = {'none': ''};
  }
  var commentJSON = JSON.stringify(commentObj);
  $.ajax({
    url: '{% url "custom_code:scheduling" %}',
    data: $(theformstr).serialize() + "&button=" + clickedId + "&comment=" + commentJSON,
    dataType: 'json',
    success: function(response) {
      if (response.hasOwnProperty('failure')) {
	alert(response.failure)
      } else {
        document.getElementById(clickedId).value = response.success;
      }
    }
  });
}
function approveRejectSequence(observationId, decision) {
  if (decision === 'rejected') {
      var cancelComment=prompt('Reason for stopping observations:', '');
      var comment = {'cancel': cancelComment};
      var commentJSON = JSON.stringify(comment);
  } else {
      var commentJSON = JSON.stringify({});
  }
  $.ajax({
    url: '{% url "custom_code:approve-or-reject-observation" %}',
    data: {'pk': observationId,
           'comment': commentJSON,
           'status': decision},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'Modified') {
        if (decision === 'rejected') {
          document.getElementById('reject-' + observationId).value = 'Rejected';
        } else {
          document.getElementById('approve-' + observationId).value = 'Approved';
        }
      }
    }
  })
}
$(".cadence-input").keyup(function() {
  var t = this;
  var table = t.closest(".table");
  var newreminder = 2*parseFloat(t.value) + 0.7;
  var reminder = table.querySelectorAll('input[name="reminder"]')[0];
  reminder.value = newreminder;
});
</script>
