{% load custom_code_tags %}
<dl class="row" style="display: block;">
  <h5>Science Interests:</h5>
  {% for tag in sciencetags %}
    <div id="display-{{ tag|cut:" " }}" class="displayed" style="display: none;">{{ tag }}</div>
  {% endfor %}
  <!--div id="display-SNIa" class="displayed" style="display: none;">A Sample of SNe Ia</div>
  <div id="display-SNII" class="displayed" style="display: none;">A Sample of SNe II</div-->
</dl>
<dl class="row">
  <div id="tag-list" class="dropdown-check-list">
    <button onclick="display_tags()" class="dropbtn" style="background-color: white; color: black; font-size: 16px; border: none;">Select Science Tags</button>
    <div id="tag-dropdown" class="dropdown-content" style="background-color: white; color: black; font-size: 14px; height: 200px; overflow-y: scroll; width: 200px;">
      {% for tag in sciencetags %}
        <span><input type="checkbox" class="check" id="select-{{ tag|cut:" " }}" data-target="display-{{ tag|cut:" " }}"/>{{ tag }}</span><br>
      {% endfor %}
      <!--span><input type="checkbox" class="check" id="select-SNIa" data-target="display-SNIa"/>A Sample of SNIa</span><br>
      <span><input type="checkbox" class="check" id="select-SNII" data-target="display-SNII"/>A Sample of SNII</span><br-->
    </div>
  </div>
  <script>
  window.onload = onPageLoad();
  function onPageLoad() {
    document.getElementById("select-c").checked = true;
  }

  function display_tags() {
    document.getElementById("tag-dropdown").classList.toggle("show");
  }

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  $('.check').change(function () {
    $('#' + this.dataset.target).toggle(this.checked);
    });

  $('.dropdown-content').click(function(e) {
    e.stopPropagation();
  });
  </script>
</dl>

