{% load bootstrap4 crispy_forms_tags observation_extras targets_extras custom_code_tags static cache %}
<style>
.border-right {
    border-right: 1px solid black;
}
#div_phot_groups {
    overflow-y: scroll;
    width: 250px;
    height: 250px;
}
#div_spec_groups {
    overflow-y: scroll;
    width: 250px;
    height: 250px;
}
#muscat-div {
    display: none;
}
#div_phot_delay_amount {
    display: none;
}
#div_spec_delay_amount {
    display: none;
}
</style>
<div class="row">
  <div class="col-md-6">
    {% airmass_plot %}
  </div>
  <div class="col-md-6">
    {% moon_vis object %}
  </div>
</div>
<div class="row">
  <div class="col-md-6 border-right">
    <h4>Submit a Photometry Sequence</h4>
    {% crispy phot_form %}
  </div>
  <div class="col-md-6">
    <h4>Submit a Spectroscopy Sequence</h4>
    {% crispy spec_form %}
  </div>
</div>
<script>
$(function () {
  $("#phot_instrument_type").change(function() {
    if(document.getElementById("phot_instrument_type").value === '2M0-SCICAM-MUSCAT') {
      document.getElementById("muscat-div").style.display = "block";
      document.getElementById("non-muscat-filt-div").style.display = "none";
      document.getElementById("w-filt-div").style.display = "none";
    }
    else {
      document.getElementById("muscat-div").style.display = "none";
      document.getElementById("non-muscat-filt-div").style.display = "block";
      document.getElementById("w-filt-div").style.display = "block";
   }
  });
});

$("#phot_cadence_frequency").keyup(function() {
  var cadence = document.getElementById("phot_cadence_frequency").value;
  var newreminder = 2*parseFloat(cadence) + 0.7;
  document.getElementById("phot_reminder").value = newreminder;
});

$("#spec_cadence_frequency").keyup(function() {
  var cadence = document.getElementById("spec_cadence_frequency").value;
  var newreminder = 2*parseFloat(cadence) + 0.7;
  document.getElementById("spec_reminder").value = newreminder;
});
$("#phot_delay_start").click(function() {
  var delayAmount = document.getElementById("div_phot_delay_amount");
  if (delayAmount.style.display === "block") {
    delayAmount.style.display = "none";
  } else {
    delayAmount.style.display = "block";
  }
})
$("#spec_delay_start").click(function() {
  var delayAmount = document.getElementById("div_spec_delay_amount");
  if (delayAmount.style.display === "block") {
    delayAmount.style.display = "none";
  } else {
    delayAmount.style.display = "block";
  }
})
</script>
