{% load bootstrap4 crispy_forms_tags observation_extras targets_extras custom_code_tags static cache %}
<style>
.border-right {
    border-right: 1px solid black;
}
#div_phot_groups {
    overflow-y: scroll;
    width: 250px;
    height: 250px;
}
#div_spec_groups {
    overflow-y: scroll;
    width: 250px;
    height: 250px;
}
#muscat-div {
    display: none;
}
</style>
<div class="row">
  <div class="col-md-6">
    {% airmass_plot %}
  </div>
  <div class="col-md-6">
    {% moon_vis object %}
  </div>
</div>
<div class="row">
  <div class="col-md-6 border-right">
    <h4>Submit a Photometry Sequence</h4>
    {% crispy phot_form %}
  </div>
  <div class="col-md-6">
    <h4>Submit a Spectroscopy Sequence</h4>
    {% crispy spec_form %}
  </div>
</div>
<script>
$(function () {
  $("#phot_instrument_type").change(function() {
    console.log(document.getElementById("phot_instrument_type").value);
    if(document.getElementById("phot_instrument_type").value === '2M0-SCICAM-MUSCAT') {
      document.getElementById("muscat-div").style.display = "block";
    }
    else {
      document.getElementById("muscat-div").style.display = "none";
   }
  });
});
</script>
