{% load bootstrap4 static %}
<h4>Target Details</h4>
<table style="width:100%">
  <tr>
    <th>Property</th>
    <th>Date</th>
    <th>Magnitude</th>
    <th>Filter</th>
    <th>Source</th>
  </tr>
  <tr>
    <td>Test Last Nondetection</td>
    <td>24500000.5</td>
    <td>20</td>
    <td>g</td>
    <td>TNS</td>
  </tr>
  <tr>
    <td>Test First Detection</td>
    <td>24500002.5</td>
    <td>19</td>
    <td>g</td>
    <td>TNS</td>
  </tr>
</table>
<div class="row"><button class="btn" style="background-color: white; color: #174460; border-color: #174460;">Refresh TNS Values</button></div>
