{% load bootstrap4 static custom_code_tags %}
<style>
.detail-tab td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.detail-tab th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
<h4>Does this Target have Swift Data?</h4>
<div class="row">
  <button class="btn" id="swift-data-button" style="background-color: white; color: #174460; border-color: #174460;" onclick="querySwiftData()">Click to Check</button>
</div>
<h4>Times of Last Nondetection and First Detection</h4>
<table id="tns-tab" class="detail-tab" style="width: 100%; margin-bottom: 10px;">
  <tr>
    <th></th>
    <th>Date (JD)</th>
    <th>Magnitude</th>
    <th>Filter</th>
    <th>Source</th>
  </tr>
  <tr>
    <td>Last Nondetection</td>
    <td id="nondet-date">{{ last_nondetection.date }}</td>
    <td id="nondet-mag">{{ last_nondetection.mag }}</td>
    <td id="nondet-filt">{{ last_nondetection.filt }}</td>
    <td id="nondet-source">{{ last_nondetection.source }}</td>
  </tr>
  <tr>
    <td>First Detection</td>
    <td id="det-date">{{ first_detection.date }}</td>
    <td id="det-mag">{{ first_detection.mag }}</td>
    <td id="det-filt">{{ first_detection.filt }}</td>
    <td id="det-source">{{ first_detection.source }}</td>
  </tr>
</table>
<div class="row">
  <button class="btn" onclick="update_values()" style="background-color: white; color: #174460; border-color: #174460;">Refresh from TNS</button>
  <button id="save-values-btn" class="btn" onclick="save_values()" style="background-color: white; color: #174460; border-color: #174460;">Save Values</button>
</div>
<h4 style="margin-top: 10px;">Time of Maximum</h4>
<div class="row" style="margin-left: 5px;">Enter a time of maximum from a source in the table below, or interactively fit the light curve:</div>
<table id="max-tab" class="detail-tab" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <th></th>
    <th>Date (JD)</th>
    <th>Magnitude</th>
    <th>Filter</th>
    <th>Source</th>
  </tr>
  <tr>
    <td>Time of Maximum </td>
    <td id="max-date" contenteditable='true'>{{ maximum.date }}</td>
    <td id="max-mag" contenteditable='true'>{{ maximum.mag }}</td>
    <td id="max-filt" contenteditable='true'>{{ maximum.filt }}</td>
    <td id="max-source" contenteditable='true'>{{ maximum.source }}</td>
  </tr>
</table>
<div class="row">
  <button class="btn" onclick="display_fit_options()" style="background-color: white; color: #174460; border-color: #174460;">Fit Lightcurve</button>
  <button id="save-max-btn" class="btn" onclick="save_max()" style="background-color: white; color: #174460; border-color: #174460;">Save Values</button>
</div>
<div class="row" id="fit-options" style="display: none;">
  <table id="fit-tab" class="detail-tab" style="width: 50%; margin-bottom: 10px; margin-top: 10px;">
    <tr>
      <th>Filter? Leave blank for any</th>
      <th>Fit First <i>n</i> Days of Data</th>
    </tr>
    <tr>
      <td contenteditable='true' id="fit-filt">B</td>
      <td contenteditable='true' id="fit-days">20</td>
    </tr>
  </table>
  <button class="btn" onclick="fit_lc()" style="background-color: white; color: #174460; border-color: #174460;">Fit</button>
  <b>Warning: </b>These fits are estimates and not publication-ready
</div>
<div id="lc-primary" class="row">
  {#% lightcurve_with_extras target user %#}
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-md-6">
    <h4>Target Description / "Tagline"</h4>
    <div class="row" style="text-align: justify; margin-left: 5px;">A sentence or two describing anything that makes this target interesting or unique, <br>such as weird light curve evolution, spectral features, lots of external data, etc.</div>
    <textarea id="tagline" rows="4" cols="60" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Enter a couple of descriptive sentences">{{ description }}</textarea>
    <div class="row">
      <button id="save-tagline-btn" class="btn" onclick="save_tagline()" style="background-color: white; color: #174460; border-color: #174460;">Save Tagline</button>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Is this an Interesting Target?</h4>
    {% if target|is_interesting %}
    <a>This target is already in the interesting targets list</a>
    {% else %}
    <button class="btn" id='interesting-target-button' onclick="addTargetToList()" style="background-color: white; color: #174460; border-color: #174460;">Add to Interesting Targets List</button>
    {% endif %}
  </div>
</div>
<script>
function update_values() {
  var targetid = {{ target.id }};
  $.ajax({
    url: '{% url "make-tns-request" %}',
    data: {'target_id': targetid},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'Completed') {
        document.getElementById('nondet-date').innerHTML = response.nondetection;
        document.getElementById('nondet-mag').innerHTML = response.nondet_mag;
        document.getElementById('nondet-filt').innerHTML = response.nondet_filt;
        document.getElementById('nondet-source').innerHTML = 'TNS';
	document.getElementById('det-date').innerHTML = response.detection;
	document.getElementById('det-mag').innerHTML = response.det_mag;
	document.getElementById('det-filt').innerHTML = response.det_filt;
	document.getElementById('det-source').innerHTML = 'TNS';
      } else {
	alert("Querying TNS for these values failed")
      };
    }
  })
}
function display_fit_options() {
  var fitDiv = document.getElementById('fit-options');
  if (fitDiv.style.display === "none") {
    fitDiv.style.display = "block";
  } else {
    fitDiv.style.display = "none";
  }
}
function save_values() {
  var nonDetDate = document.getElementById('nondet-date').innerHTML;
  var nonDetMag = document.getElementById('nondet-mag').innerHTML;
  var nonDetFilt = document.getElementById('nondet-filt').innerHTML;
  var nonDetSource = document.getElementById('nondet-source').innerHTML;
  $.ajax({
    url: '{% url "save-lightcurve-params" %}',
    data: {'target_id': {{ target.id }},
           'key': 'last_nondetection',
           'date': nonDetDate,
           'mag': nonDetMag,
           'filt': nonDetFilt,
           'source': nonDetSource},
    dataType: 'json'
  })
  var detDate = document.getElementById('det-date').innerHTML;
  var detMag = document.getElementById('det-mag').innerHTML;
  var detFilt = document.getElementById('det-filt').innerHTML;
  var detSource = document.getElementById('det-source').innerHTML;
  $.ajax({
    url: '{% url "save-lightcurve-params" %}',
    data: {'target_id': {{ target.id }},
           'key': 'first_detection',
           'date': detDate,
           'mag': detMag,
           'filt': detFilt,
           'source': detSource},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'Saved') {
        document.getElementById('save-values-btn').innerHTML = 'Saved';
      }
    }
  })
}
function save_max() {
  var maxDate = document.getElementById('max-date').innerHTML;
  var maxMag = document.getElementById('max-mag').innerHTML;
  var maxFilt = document.getElementById('max-filt').innerHTML;
  var maxSource = document.getElementById('max-source').innerHTML;
  $.ajax({
    url: '{% url "save-lightcurve-params" %}',
    data: {'target_id': {{ target.id }},
           'key': 'maximum',
           'date': maxDate,
           'mag': maxMag,
           'filt': maxFilt,
           'source': maxSource},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'Saved') {
        document.getElementById('save-max-btn').innerHTML = 'Saved';
      }
    }
  })
}
function fit_lc() {
  var targetid = {{ target.id }};
  var userid = {{ user.id }};
  var filt = document.getElementById('fit-filt').innerHTML;
  var daysToFit = document.getElementById('fit-days').innerHTML;
  $.ajax({
    url: '{% url "fit-lightcurve" %}',
    data: {'target_id': targetid,
	   'user_id': userid,
	   'filter': filt,
    	   'days': daysToFit},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'success') {
	document.getElementById('max-date').innerHTML = response.fitted_max;
	document.getElementById('max-mag').innerHTML = response.max_mag;
	document.getElementById('max-source').innerHTML = 'Fit';
	document.getElementById('max-filt').innerHTML = response.max_filt;
        $('#lc-primary').html(response.lightcurve_plot);
      } else {
	alert("Fitting to this filter failed")
      }
    }
  })
}
function save_tagline() {
  var tagline = document.getElementById('tagline').value;
  $.ajax({
    url: '{% url "save-lightcurve-params" %}',
    data: {'target_id': {{ target.id }},
           'key': 'target_description',
           'value': tagline},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'Saved') {
        document.getElementById('save-tagline-btn').innerHTML = 'Saved';
      }
    }
  })
}
function querySwiftData() {
  var targetid = {{ target.id }};
  $.ajax({
    url: '{% url "query-swift-observations" %}',
    data: {'target_id': targetid},
    dataType: 'json',
    success: function(response) {
      document.getElementById('swift-data-button').innerHTML = response.success;
    }
  })
}
function addTargetToList() {
  $.ajax({
    url: '{% url "add-target-to-group" %}',
    data: {'target_name': '{{ target.name }}',
	   'group_id': {{ interesting_list_id }},
           'list': 'interesting_list'
    },
    dataType: 'json',
    success: function(response) {
      document.getElementById('interesting-target-button').innerHTML = 'Added';
    }
  })
}
</script>

