{% extends 'tom_common/base.html' %}
{% load static bootstrap4 crispy_forms_tags %}
{% load targets_extras custom_code_tags %}
{% block title %}TNS Targets{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>View TNS Targets</h3>
  </div>
</nav>
<h2 class="text-center">Recent targets from the TNS</h2>
<div>
  <form action="" method="get" class="form">
    <h4 style="margin-top: 0">Filter</h4>
    {% crispy filter.form %}
  </form>
  <h4>Results</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name<br /><p></p></th>
        <th>Coordinates<br /><p></p></th>
        <th>Discovered by<br /><p></p></th>
        <th>Recent photometry<br />mag (filter: days ago)</th>
        <th>Last non-detection<br />mag (filter: days ago)</th>
        <th>In TESS?<br /><p></p></th>
      </tr>
    </thead>
    <tbody>
    {% for target in tnstargets %}
      <tr>
        <td rowspan=2>
          <button class="btn btn-primary" data-toggle="collapse" data-target="#show-both-{{target.name}}">+</button>
          <a target="_blank" href={{ target.link }}>{{ target.name_prefix }} {{ target.name }}</a>
        </td>
        <td>{{ target.coords }}</td>
        <td>{{ target.source_group }}
        <td>{{ target.mag_recent }}</td>
        <td>{{ target.mag_lnd }}</td>
        {% if target.tess_response %}
  	<td><a href='#' data-toggle='tooltip' title={{ target.tess_response }}>Yes</a>
        {% else %}
  	<td>No</td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=6 style="border-top:none;">
          <div class="collapse" id="show-both-{{target.name}}">
            <div style="display: inline-block;">{% aladin_collapse target %}</div>
            <div style="display: inline-block;">{% airmass_collapse target %}</div>
	    <div style="display: inline-block; vertical-align: top; margin-top: 5rem;">
	      <a class="button" style="background-color: green; color: white; padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; padding-left: 0.75rem;" href="{% url "create-target" %}?name=AT{{target.name}}&ra={{target.ra}}&dec={{target.dec}}">Add Target</a>
	    </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
</div>
{% endblock %}
