@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h5 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5rem;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12pt;
}

nav a:hover {
  color: white;
}

nav {
  background: black;
  color: white;
  height: 35px;
}

.fixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.fixed-top-2 {
  margin-top: 35px;
  background: #174460;
  height: 89px;
  position: absolute;
  z-index: -1;
}

.fixed-top-2 a {
  text-align: left;
  font-size: 18pt;
  padding: 14px 16px;
}

.content {
  padding: 3rem 1.5rem;
}

.navbar-brand > img {
    max-height: 25px;
}

.input-group-text {
    font-family: monospace;
}

@media (min-width: 768px)
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 9999;
}

.col-md-12 {
  max-width: 83.3333%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

