@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h5 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5rem;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 14pt;
}

nav a:hover {
  color: white;
}

nav {
  background: linear-gradient(#455f6e, #46697f, #46687c);
  color: white;
  height: 89px;
}

.content {
  padding: 3rem 1.5rem;
}

.navbar-brand > img {
    max-height: 25px;
}

.input-group-text {
    font-family: monospace;
}
