{% load tom_common_extras targets_extras custom_code_tags %}
<dl class="row">
  <h4>Known as: </h4>
</dl>
<dl class="row">
  <ul style="list-style-type: none; margin-left: -30px; margin-bottom: -10px;">
  {% for target_name in target|smart_name_list %}
    {% if 'AT ' in target_name or 'SN ' in target_name %}
    <li><a href="https://www.wis-tns.org/object/{{ target_name|slice:"3:" }}" style="color: black;" target="_blank">{{ target_name }}</a><br></li>
    {% elif 'ZTF' in target_name %}
    <li><a href="https://alerce.online/object/{{ target_name }}" style="color: black;" target="_blank">{{ target_name }}</a><br></li>
    {% else %}
    <li><a>{{ target_name }}</a><br></li>
    {% endif %}
  {% endfor %}
  </ul>
</dl>
<dl class="row" style="margin-left: -15px;">
  <form style="display: inline"; name="form_addname" action="javascript: add_name()">
    <input type="hidden" name="targetid" id="targetid" value={{ target.id }}>
    <input type="show" name="newname" id="thenewname" placeholder="Add a new name" style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: black;">
  </form>
  <script>
  function add_name() {
    var targetid = {{ target.id }};
    var newname = $('#thenewname').val();
    $.ajax({
      url: '/api/targets/' + targetid + '/',
      type: "PATCH",
      headers: {"X-CSRFToken": '{{ csrf_token }}'},
      data: JSON.stringify({
	"aliases": [
	  {"name": newname}
	]
      }),
      contentType: "application/JSON",
      dataType: "json",
      success: function() {
	$.ajax({
	  url: '{% url "sync_targetextra" %}',
	  data: {"newdata": JSON.stringify({
		  "targetid": targetid,
		  "key": "name",
		  "value": newname})
	  },
	  dataType: "json"
	})
      },
      error: function(e) {
        console.log(e);
      }
    })
  }
  </script>
</dl> 
{% science_tags_dropdown target %}
<dl class="row">
  <h5>Interested Persons:</h5>
</dl>
{% interested_persons target user "targetdetail" %}
<dl class="row" style="display: block;">
  <h5>Data Used In: </h5>
  {% papers_list target %}
  {% papers_form target %}
</dl>
<dl class="row">
  <h5>Reference Status:</h5>
</dl>
{% reference_status target %}
<dl class="row">
  <h5>Known to:</h5>
</dl>
{% display_group_list target %}
