{% load tom_common_extras targets_extras %}
<dl class="row">
  <h4>Known as: </h4>
</dl>
<dl class="row">
  {% for target_name in target.names %}
    {{ target_name }}<br> 
  {% endfor %}
</dl>
<dl class"row" style="margin-left: -15px;">
  <form style="display: inline"; name="form_addname" action="javascript: add_name()">
    <input type="hidden" name="targetid" id="targetid" value={{ target.id }}>
    <input type="show" name="newname" id="thenewname" placeholder="Add a new name" style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: black;">
  </form>
  <script>
  function add_name() {
    var targetid = {{ target.id }};
    var newname = $('#thenewname').val();
    $.ajax({
      url: '/api/targets/' + targetid + '/',
      type: "PATCH",
      headers: {"X-CSRFToken": '{{ csrf_token }}'},
      data: JSON.stringify({
	"aliases": [
	  {"name": newname}
	]
      }),
      contentType: "application/JSON",
      dataType: "json",
      error: function(e) {
        console.log(e);
      }
    })
  }
  </script>
</dl> 
<!--dl class="row">
  <a href="{% url 'tom_targets:update' pk=target.id %}" title="Update target" class="btn-sm  btn-primary">Update Target</a>
</dl-->
<dl class="row" style="display: block;">
  <h5>Science Interests:</h5>
  <div id="display-SNIa" class="displayed" style="display: none;">A Sample of SNe Ia</div>
  <div id="display-SNII" class="displayed" style="display: none;">A Sample of SNe II</div>
</dl>
<dl class="row">
  <div id="tag-list" class="dropdown-check-list">
    <button onclick="display_tags()" class="dropbtn" style="background-color: white; color: black; font-size: 16px; border: none;">Select Science Tags</button>
    <div id="tag-dropdown" class="dropdown-content" style="background-color: white; color: black; font-size: 14px;">
      <span id="select-SNIa"><input type="checkbox" class="check" data-target="display-SNIa"/>A Sample of SNIa</span><br>
      <span id="select-SNII"><input type="checkbox" class="check" data-target="display-SNII"/>A Sample of SNII</span><br>
    </div>
  </div>
  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function display_tags() {
    document.getElementById("tag-dropdown").classList.toggle("show");
  }
  
  //function show_tag() {
    //document.getElementById("hidden-SNIa").style.display = "block";
  $('.check').change(function () {
    $('#' + this.dataset.target).toggle(this.checked);
    });
  //Close the dropdown if the user clicks outside of it
  //window.onclick = function(event) {
  //  if (!event.target.matches('.dropbtn')) {
  //    var dropdowns = document.getElementsByClassName("dropdown-content");
  //    var i;
  //    for (i = 0; i < dropdowns.length; i++) {
  //      var openDropdown = dropdowns[i];
  //      if (openDropdown.classList.contains('show')) {
  //        openDropdown.classList.remove('show');
  //      }
  //    }
  //  }
  //}
  $('.dropdown-content').click(function(e) {
    e.stopPropagation();
  });
  </script>
</dl>
<dl class="row">
  <h5>Interested Persons:</h5>
</dl>
<dl class="row">
  <h5>Data Used In:</h5>
</dl>
<dl class="row">
  <h5>Reference Status:</h5>
</dl>
<dl class="row">
  <h5>Known to:</h5>
</dl>
