{% if page == 'targetdetail' %}
<div id="new-interested-person" style="display: none;"></div><br>
{% endif %}
{% if user in interested_persons %}
<button title="Mark yourself as interested in this target" class="btn" id="interest-button-{{target.id}}" style="background-color: white; color: #174460; border-color: #174460;" onclick="changeInterest()">I'm Not Interested</button>
{% else %}
<button title="Mark yourself as interested in this target" class="btn" id="interest-button-{{target.id}}" style="background-color: white; color: #174460; border-color: #174460;" onclick="changeInterest()">I'm Interested</button>
{% endif %}
<!--/dl-->
<script>
  function changeInterest() {
    var page = "{{page}}";
    $.ajax({
      url: '{% url "change-interest" %}',
      data: {'target': '{{ target.name }}'
      },
      dataType: 'json',
      success: function(response) {
        if (response.success === 'Interested') {
	  if (page === 'targetdetail') {
            document.getElementById("new-interested-person").innerHTML = response.name;
            document.getElementById("new-interested-person").style.display = "block";
	  };
	  document.getElementById("interest-button-{{target.id}}").innerHTML = "I'm Not Interested";
        } else if (response.success === 'Uninterested') {
	  if (page === 'targetdetail') {
            document.getElementById("new-interested-person").innerHTML = "";
            document.getElementById("new-interested-person").style.display = "none";
	  };
	  document.getElementById("interest-button-{{target.id}}").innerHTML = "I'm Interested";
        };
      }
    })
  }
</script>
