{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% load custom_code_tags %}
{/* % load airmass_tags % */}
{% block title %}Target {{ object|get_best_name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<style>
  #id_comment {
    height: 2.5rem;
    width: 30rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .mb-1 {
    font-weight: bold;
    font-size: 14px;
  }
  .mr-1 {
    font-size: 14px;
    margin-bottom: 0rem;
  }
  ::placeholder {
    color: white;
  }
</style>
<script>
// This script maintains the selected tab upon reload
//$(document).ready(function(){
//  // This is required due to the apparent redefinition of $ in another library: https://api.jquery.com/jquery.noconflict/
//  // Based on trial and error, the offending script appears to be JS9, which is used in dataproduct_list_for_target
//  $.noConflict();
//  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
//    localStorage.setItem('activeTab', $(e.target).attr('href'));
//  });
//
//  var activeTab = localStorage.getItem('activeTab');
//  if(activeTab){
//    $('#tabs a[href="' + activeTab + '"]').tab('show');
//  }
//});
</script>
<table class="header-table" cellpadding="0" cellspacing="0" style="background: #174460; font-family: 'Open Sans', sans-serif; color: white; width: 104.45%; margin-left: -39px; margin-top: -100px;">
  <tr height="89">
    <td align="left">
      <span style="display: inline-block; font-size: 35px; margin-left: 30px;">{{ target|get_best_name }}</span>
    </td>
    <td align="left">
      {% classifications_dropdown target%}
    </td>
    <td align="left">
      <form style="display: inline; font-size: 20px" name="form_redshift_theredshift" autocomplete="off" action="javascript: edit_redshift()">
        <span id="zpre">z=</span>
        <input type="hidden" name="targetid" id="thetargetid" value={{ target.id }}>
	{% with z=target|target_extra_field:"redshift" %}
	{% if z == None %}
        <input type="text" name="redshift" id="thenewredshift" placeholder={{ z|strip_trailing_zeros }} autocomplete="off" style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: white;">
	{% else %}
        <input type="text" name="redshift" id="thenewredshift" value={{ z|strip_trailing_zeros }} autocomplete="off" style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: white;">
	{% endif %}
	{% endwith %}
      </form>
    </td>
    <script>
    function edit_redshift() {
      var targetid = {{ target.id }};
      var redshiftid = {{ target|get_targetextra_id:"redshift" }};
      var new_value = $('#thenewredshift').val();
      var newdata = {
        "key": "redshift",
        "value": new_value
      };
      if (redshiftid != null) {
	newdata = {
	  "id": redshiftid,
	  "key": "redshift",
	  "value": new_value
	};
      }
      console.log(targetid, redshiftid, new_value);
      $.ajax({
	url: '/api/targets/' + targetid + '/',
	type: "PATCH",
	headers: {"X-CSRFToken": '{{ csrf_token }}'}, 
	data: JSON.stringify({
	  "targetextra_set": [
	    newdata
	  ]
	}),
	contentType: "application/json",
	dataType: "json",
	success: function() {
	  newdata['targetid'] = targetid;
          $.ajax({
            url: '{% url "sync_targetextra" %}',
            data: {'newdata': JSON.stringify(newdata)},
            dataType: 'json'
          })
        },
	error: function(e) {
	  console.log(e);
	}
      })
    }
    </script>
    <td align="left">
      <span style="display: inline-block; font-size: 23px;">{{ target.ra|deg_to_sexigesimal:"hms" }} {{ target.dec|deg_to_sexigesimal:"dms" }}</span><br><span style="display: inline-block; font-size: 20px;">{{ target.ra|floatformat:4 }} {{ target.dec|floatformat:4 }}</span>
    </td>
  </tr>
</table>
<ul class="nav nav-tabs" role="tablist" id="tabs">
  <li class="nav-item">
    <a class="nav-link active" id="observe-tab" href="#observe" role="tab" data-toggle="tab" style="color: #174460;">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="detail-tab" href="#detail" role="tab" data-toggle="tab" style="color: #174460;" onclick='load_lightcurve_details(); this.onclick=null;'>Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="observations-tab" href="#observations" role="tab" data-toggle="tab" style="color: #174460;">Observations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="manage-data-tab" href="#manage-data" role="tab" data-toggle="tab" style="color: #174460;">Manage Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="manage-groups-tab" href="#manage-groups" role="tab" data-toggle="tab" style="color: #174460;">Observing Runs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="images-tab" href="#images" role="tab" data-toggle="tab" style="color: #174460;">Images</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="photometry-tab" href="#photometry" role="tab" data-toggle="tab" style="color: #174460;">Photometry</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="spectroscopy-tab" href="#spectroscopy" role="tab" data-toggle="tab" style="color: #174460;" onclick='load_spectra_page(); this.onclick=null;'>Spectroscopy</a>
  </li>
</ul>
<div class="row" style="padding-top: 10px;">
  <div class="col-md-2" id="target-info">
    {% target_data_with_user object %}
  </div>
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane in active" id="observe">
        <div class="row">
        <div class="col-md-6">
          {% comments_enabled as comments_are_enabled %}
          <h4>Latest Comments</h4>
            {% if comments_are_enabled %}
              {% render_comment_list for object %}
              {% url 'targets:detail' object.id as next %}
              {% if user.is_authenticated %}
                {% render_comment_form for object %}
              {% endif %}
            {% endif %}
        </div>
        <div class="col-md-6">
          <h4>Latest Visibility at LCO</h4>
          {% airmass_plot %}
        </div>
        </div>
        <hr/>
	<div class="row">
        <div class="col-md-3" style="overflow: hidden;">
	  <h4>Aladin Viewer</h4>
          {% aladin object %}
        </div>
	<div class="col-md-9">
	  {% test_display_thumbnail object %}
	</div>
	</div>
        <hr/>
        <div class="row">
        <div class="col-md-6">
	   <h4>Photometry</h4>
          {#% lightcurve object %#}
          <div id="plotly-lc-div" style="position: relative; padding-bottom: 200.0% !important; height: 0; overflow: hidden;">
	  {% dash_lightcurve object 600 400 %}
          </div>
        </div>
        <div class="col-md-6">
          <h4>Spectroscopy</h4>
          {% spectra_plot object %}
        </div>
        </div>
      </div>
      <div class="tab-pane" id="detail">
        {% target_details object %}
      </div>
      <div class="tab-pane" id="observations">
        <h4>Schedule Observations</h4>
        {% observing_buttons object %}
        <hr/>
	<button onclick="display_obs()" class="btn" style="background-color: white; color: black; font-size: 16px; border: none; outline: none; box-shadow: none;">Show Previous Observations</button>
        <!--a href="{% url 'targets:detail' pk=target.id %}?update_status=True" title="Update status of observations for target" class="btn btn-primary">Update Observations Status</a--!>
	<div class="row" id="previous-obs" style="display: none; color: gray;">
          {% observation_summary object 'previous' %}
	</div>
	<div class="row" id="ongoing-obs" style="display: block";>
          {% observation_summary object 'ongoing' %}
	</div>
	<div class="row" id="pending-obs" style="display: block; color: orange;";>
          {% observation_summary object 'pending' %}
	</div>
	{% submit_lco_observations object %}
      </div>
      <div class="tab-pane" id="manage-data">
	{% if user.is_authenticated %}
	  {% custom_upload_dataproduct object %}
	{% endif %}
        {% dataproduct_list_for_target object %}
      </div>
      <div class="tab-pane" id="manage-groups">
        {% target_groups target %}
      </div>
      <div class="tab-pane" id="images">
        {% image_slideshow object %}
      </div>
      <div class="tab-pane" id="photometry">
        {#% lightcurve object %#}
	{% dash_lightcurve object 1000 600 %}
	{#% phot_sharing_table object %#}
      </div>
      <div class="tab-pane" id="spectroscopy">
        {% dash_spectra object %}
        {#% dash_spectra_page object %#}
      </div>
    </div>
  </div>
</div>
<script>
function load_lightcurve_details() {
  $.ajax({
    url: '{% url "load-lc" %}',
    data: {'target_id': {{ target.id }},
           'user_id': {{ user.id }}
    },
    dataType: 'json',
    success: function(response) {
      var plot = response.lightcurve_plot;
      $('#lc-primary').html(plot);
    }
  });
}
function load_spectra_page() {
  $.ajax({
    url: '{% url "load-spectra-page" %}',
    data: {'target_id': {{ target.id }}},
    dataType: 'json',
    success: function(response) {
      var spectra_page = document.getElementById('spectroscopy');
      spectra_page.insertAdjacentHTML('beforeend', response['html_from_view'])
    }
  });
}
function display_obs() {
  var x = document.getElementById("previous-obs");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function savecomment(spectrumId) {
  var comment = document.getElementById("comment-"+spectrumId).value;
  $.ajax({
    url: '{% url "save-comment" %}',
    data: {'comment': comment,
           'object_id': spectrumId,
           'user_id': {{ user.id }},
	   'tablename': 'spec',
    },
    dataType: 'json',
    success: function() {
      document.getElementById("comment-"+spectrumId).insertAdjacentHTML('beforebegin', '<div class="row">{{ user.username }}: ' + comment +'</div>');
    }
  })
}
$(document).ready (function() {
  var parentElt = document.getElementById("plotly-lc-div");
  var childElt = parentElt.firstElementChild;
  childElt.style.padding = "0% 0% 250.0% 0%";
})
</script>
{% endblock %}
