{% extends 'tom_common/base.html' %}
{% load bootstrap4 static %}
{% block title %}Confirm delete{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Delete a Data Product</h3>
  </div>
</nav>
<form method="post" action="{% url "custom-upload-delete" pk=object_pk %}?next={{ next }}">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {% buttons %}
    <button type="submit" class="btn btn-danger">Confirm</button>
    {% endbuttons %}
</form>
{% endblock %}
