{% extends 'tom_common/base.html' %}
{% load bootstrap4 crispy_forms_tags observation_extras targets_extras custom_code_tags static cache %}
{% block title %}Submit Observation{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
<style>
#div_id_delay_amount {
    display: none;
}
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
      <ul class="nav mr-auto">
        <li style="float: left;"><a style="display: inline-block; list-style-type: none;">{{ target.name }}</a></li>
        <li style="float: left;"><a style="display: inline-block; list-style-type: none;">{{ target.ra|deg_to_sexigesimal:"hms" }} {{ target.dec|deg_to_sexigesimal:"dms" }}<br>{{ target.ra|floatformat:4 }} {{ target.dec|floatformat:4 }}</a></li>
        <li style="float: left;"><a style="display: inline-block; list-style-type: none;">{{ target|target_extra_field:"classification" }}</a></li>
	{% with z=target|target_extra_field:"redshift" %}
        <li style="float: left;"><a style="display: inline-block; list-style-type: none;">z = {{ z|strip_trailing_zeros }}</a></li>
	{% endwith %}
      </ul>
  </div>
</nav>
<h3>Submit an observation to {{ form.facility.value }}</h3>
<div class="row">
    <div class="col-md-2">
      {% target_data target %}
    </div>
    <div class="col-md-10">
    {% if target.type == 'SIDEREAL' %}
      <div class="row">
	<div class="col-md-6">
          {% custom_observation_plan target form.facility.value %}
	</div>
	<div class="col-md-6">
          {% moon_vis target %}
	</div>
      </div>
    {% endif %}
      <div class="row">
	{% crispy form %}
      </div>
    </div>
</div>
<script>
var facility = '{{ form.facility.value }}';
if (facility === 'SOAR') {
  var cameraSelect = document.getElementById('id_instrument_type');
  var readoutSelect = document.getElementById('id_readout');
  cameraSelect.addEventListener("change", function () {
    var camera = cameraSelect.value;
    if (camera.includes('BLUE')) {
      readoutSelect.value = 'GHTS_B_400m1_2x2';
      for (i = 0; i < readoutSelect.length; i++) {
	var readout = readoutSelect[i];
	if (readout.value.includes('R')) {
	  readout.style.visibility = 'hidden';
	} else {
	  readout.style.visibility = 'visible';
        }
      }
    } else {
      readoutSelect.value = 'GHTS_R_400m1_2x2';
      for (i = 0; i < readoutSelect.length; i++) {
	var readout = readoutSelect[i];
	if (readout.value.includes('B')) {
	  readout.style.visibility = 'hidden';
	} else {
	  readout.style.visibility = 'visible';
	}
      }
    }
  });
}
$("#id_delay_start").click(function() {
  var delayAmount = document.getElementById("div_id_delay_amount");
  if (delayAmount.style.display === "block") {
    delayAmount.style.display = "none";
  } else {
    delayAmount.style.display = "block";
  }
})
</script>
{% endblock %}
