{% extends 'tom_common/base.html' %}
{% load bootstrap4 observation_extras targets_extras static custom_code_tags %}
{% block title %}Observations{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Observations</h3>
  </div>
</nav>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
      </div>
      <div class="col-md-6">
        <span class="float-right">
          <a href="{% url 'tom_observations:list' %}?update_status=True" class="btn btn-primary" title="Update status of all incomplete observations--please be patient!">Update Observations</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
	<input type="checkbox" id="checkbox-pessto" onclick="showPESSTO()" value="Show ePESSTO Sequences">
	<label for="checkbox-pessto">Show ePESSTO Sequences</label>
      </div>
    </div>
    {% with filter.qs|order_by_pending_requests as pending_requests %}
    {% if pending_requests|length > 0 %}
    <div class="row">
      <h4>Pending Requests</h4>
    </div>
    {% for q in pending_requests %}
    {#% schedule_pending_request q %#}
    {% scheduling_list_with_form q 'pending' %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
      <h4>Expired Reminders</h4>
    </div>
    {% with pagenumber=request.GET.urlencode %}
    {% for q in filter.qs|order_by_reminder_expired:pagenumber %}
    {% scheduling_list_with_form q 'notpending' %}
    {% endfor %}
    <div class="row">
      <h4>Upcoming Reminders</h4>
    </div>
    {% for q in filter.qs|order_by_reminder_upcoming:pagenumber %}
    {% scheduling_list_with_form q 'notpending' %}
    {% endfor %}
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% endwith %}
  </div>
</div>
<script>
function showPESSTO() {
  var pesstoSequences = document.getElementsByClassName('pessto-table');
  for (var i = 0; i < pesstoSequences.length; i++) {
    console.log(pesstoSequences[i].style.display);
    if (pesstoSequences[i].style.display != 'block') {
      pesstoSequences[i].style.display = 'block';
    } else {
      pesstoSequences[i].style.display = 'none';
    }
  }
}
</script>
{% endblock %}
