{% extends 'tom_common/base.html' %}
{% load bootstrap4 observation_extras targets_extras static custom_code_tags %}
{% block title %}Observations{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Scheduling</h3>
  </div>
</nav>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
      </div>
      <div class="col-md-6">
	<div class="row">
	  <div class="col-md-6">
	    <a class="btn btn-primary" href="{% url 'observation-list' key='ipp' %}">View Highest IPP</a>
	  </div>
	  <div class="col-md-6">
	    <a class="btn btn-primary" href="{% url 'observation-list' key='urgency' %}">View Most Urgent</a>
          </div> 
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
	<input type="checkbox" id="checkbox-pessto" onclick="showTable('pessto')" value="Show ePESSTO Sequences">
	<label for="checkbox-pessto">Show ePESSTO Sequences</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
	<input type="checkbox" id="checkbox-dlt40" onclick="showTable('dlt40')" value="Show DLT40 Sequences">
	<label for="checkbox-dlt40">Show DLT40 Sequences</label>
      </div>
    </div>
    {% with filter.qs|order_by_pending_requests as pending_requests %}
    {% if pending_requests|length > 0 %}
    <div class="row">
      <h4>Pending Requests</h4>
    </div>
    {% for q in pending_requests %}
    {#% schedule_pending_request q %#}
    {% scheduling_list_with_form q 'pending' %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
      <h4>Current Reminders</h4>
    </div>
    {% with pagenumber=request.GET.urlencode %}
    {% for q in filter.qs|order_by_reminder_expired:pagenumber %}
    {% scheduling_list_with_form q 'notpending' %}
    {% endfor %}
    <div class="row">
      <h4>Upcoming Reminders</h4>
    </div>
    <div class="row" id="load-upcoming-reminders">
      <button id="load-upcoming-reminders-btn" class="btn" style="background-color: white; color: #174460; border-color: #174460;" onclick="loadUpcomingReminders()">Load Upcoming Reminders</button>
    </div>
    {#% for q in filter.qs|order_by_reminder_upcoming:pagenumber %#}
    {#% scheduling_list_with_form q 'notpending' %#}
    {#% endfor %#}
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% endwith %}
  </div>
</div>
<script>
function showTable(groupname) {
  var sequences = document.getElementsByClassName(groupname+'-table');
  for (var i = 0; i < sequences.length; i++) {
    if (sequences[i].style.display != 'block') {
      sequences[i].style.display = 'block';
    } else {
      sequences[i].style.display = 'none';
    }
  }
}
function loadUpcomingReminders() {
  document.getElementById("load-upcoming-reminders-btn").innerHTML = "Loading...";
  var obs_ids = [];
  {% with pagenumber=request.GET.urlencode %}
  {% for q in filter.qs|order_by_reminder_upcoming:pagenumber %}
    obs_ids.push({{ q.id }});
  {% endfor %}
  {% endwith %}
  $.ajaxSetup({traditional: true}); //Without this, ajax puts [] after dict keys
  $.ajax({
    url: '{% url "load-upcoming-reminders" %}',
    data: {'obs_ids': JSON.stringify(obs_ids)},
    dataType: 'json',
    success: function(response) {
      var upcomingRow = document.getElementById("load-upcoming-reminders");
      upcomingRow.insertAdjacentHTML('afterend', response['html_from_view'])
      document.getElementById("load-upcoming-reminders-btn").style.display = "none";
      {% with pagenumber=request.GET.urlencode %}
      {% for q in filter.qs|order_by_reminder_upcoming:pagenumber %}
        $.ajax({
          url: '{% url "targetlist_collapse" %}',
          data: {'target_id': {{ q.target_id }},
                 'user_id': {{ request.user.id }}},
          dataType: 'json',
          success: function(response) {
            var lightcurve_plot = response.lightcurve_plot;
            $('#lightcurve-{{q.id}}').html(lightcurve_plot);
            var spectra_plot = response.spectra_plot;
            $('#spectra-{{q.id}}').html(spectra_plot);
            var airmass_plot = response.airmass_plot;
            $('#airmass-{{q.id}}').html(airmass_plot);
          }
        });
      {% endfor %}
    {% endwith %}
    }
  })
}
function modify_sequence(clickedId) {
  var oldval = document.getElementById(clickedId).value;
  document.getElementById(clickedId).value = 'Loading...';
  var thenum = clickedId.replace( /^\D+/g, '');
  var theformstr = '#scheduling-form-' + thenum;
  if (clickedId.includes('stop')) {
    var cancelComment = prompt('Reason for stopping observations:', '');
    var commentObj = {'cancel':cancelComment};
  } else if (clickedId.includes('modify')) {
    var cancelComment = prompt('Reason for modifying this sequence:', '');
    //var beginComment = prompt('Any comment for this sequence:', '');
    //var commentObj = {'cancel':cancelComment, 'begin':beginComment};
    var commentObj = {'cancel':cancelComment};
  } else {
    var commentObj = {'none': ''};
  }
  var commentJSON = JSON.stringify(commentObj);
  $.ajax({
    url: '{% url "custom_code:scheduling" %}',
    data: $(theformstr).serialize() + "&button=" + clickedId + "&comment=" + commentJSON,
    dataType: 'json',
    success: function(response) {
      if (response.hasOwnProperty('failure')) {
        alert(response.failure);
	document.getElementById(clickedId).value = oldval;
      } else {
        document.getElementById(clickedId).value = response.success;
      }
    }
  });
}
function approveRejectSequence(observationId, decision) {
  if (decision === 'rejected') {
      var cancelComment=prompt('Reason for stopping observations:', '');
      var comment = {'cancel': cancelComment};
      var commentJSON = JSON.stringify(comment);
  } else {
      var commentJSON = JSON.stringify({});
  }
  $.ajax({
    url: '{% url "custom_code:approve-or-reject-observation" %}',
    data: {'pk': observationId,
           'comment': commentJSON,
           'status': decision},
    dataType: 'json',
    success: function(response) {
      if (response.success === 'Modified') {
        if (decision === 'rejected') {
          document.getElementById('reject-' + observationId).value = 'Rejected';
        } else {
          document.getElementById('approve-' + observationId).value = 'Approved';
        }
      }
    }
  })
}
$("body").on("keyup", ".cadence-input", function() {
  var t = this;
  var table = t.closest(".table");
  var delay_start = table.querySelectorAll('input[name="delay_start"]')[0];
  var newreminder = 2*parseFloat(t.value) + parseFloat(delay_start.value) + 0.7;
  var reminder = table.querySelectorAll('input[name="reminder"]')[0];
  reminder.value = newreminder;
});
$("body").on("keyup", ".delay-start-input", function() {
  var t = this;
  var table = t.closest(".table");
  var cadence_input = table.querySelectorAll('input[name="cadence_frequency"]')[0];
  var newreminder = 2*parseFloat(cadence_input.value) + parseFloat(t.value) + 0.7;
  var reminder = table.querySelectorAll('input[name="reminder"]')[0];
  reminder.value = newreminder;
});
</script>
{% endblock %}
