{% extends 'tom_common/base.html' %}
{% load bootstrap4 static observation_extras dataproduct_extras custom_code_tags %}
{% block title %} Observation Sequence {{ object.name }} {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
<div class="collapse navbar-collapse" id="targetInfo">
    <h3>Track Sequence {{ object.name }}</h3>
</div>
</nav>
<div class="row">
  <div class="col-md-8" style="text-align: center;">
    <h4>Observing log for sequence {{ object.name }}</h4>
    {% for parameter in parameters %}
    <div class="row">
      <p>Observation request submitted at {{ parameter.start }}</p>
      <table class="table">
        <tr>
          <th>Cadence (days)</th>
          <th>Filters</th>
          <th>Exptimes</th>
          <th>Exposures</th>
          <th>Blocks</th>
          <th>Site</th>
          <th>Instrument</th>
          <th>Proposal</th>
          <th>IPP</th>
          <th>Airmass Limit</th>
        </tr>
        <tr>
          <td>{{ parameter.cadence }}</td>
	  <td>{{ parameter.first_filter.filt }}</td>
	  <td>{{ parameter.first_filter.exptime }}</td>
	  <td>{{ parameter.first_filter.numexp }}</td>
	  <td>{{ parameter.first_filter.blocknum }}</td>
          <td>{{ parameter.site }}</td>
          <td>{{ parameter.instrument }}</td>
          <td>{{ parameter.proposal }}</td>
          <td>{{ parameter.ipp }}</td>
          <td>{{ parameter.airmass }}</td>
        </tr>
	{% for f in parameter.other_filters %}
	<tr>
	  <td></td>
          <td>{{ f.filt }}</td>
          <td>{{ f.exptime }}</td>
          <td>{{ f.numexp }}</td>
          <td>{{ f.blocknum }}</td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	{% endfor %}
      </table>
    </div><br>
    <div class="row">
      {% if parameter.end %}
      <p>This request ended with status {{ parameter.status }}</p>
      {% else %}
      <p>Request Pending</p>
      {% endif %}
    </div>
    <div class="row">
      <a style="background-color: white; color: gray; font-size: 16px; border: none;" href="https://observe.lco.global/requests/{{ parameter.obs_id }}">Show LCO Observing Block History</a>
    </div><br>
    <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
