{% extends 'tom_common/base.html' %}
{% load user_extras registration_extras static %}
{% block title %}User Management{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>User Management</h3>
  </div>
</nav>
{% group_list %}
</hr>
{% pending_users %}
<hr/>
{% user_list %}
{% endblock %}
