{% extends 'tom_common/base.html' %}
{% load bootstrap4 static gw_tags targets_extras custom_code_tags %}
{% block title %}Galaxy Observations{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
{% if user|has_gw_permissions %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Galaxy Observations for {{ superevent_id }}</h3>
  </div>
</nav>
<div class="row">
  <div class="col-md-6">
    <span class="float-left">{{ galaxy_count }} Galaxies &nbsp;</span>
  </div>
  <div class="col-md-6">
    <span class="float-right"><a href="{% url 'nonlocalizedevents:detail' superevent_index %}">View this SuperEvent</a></span>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name<br /><p></p></th>
      <th>Score<br /><p></p></th>
      <th>Coords<br /><p></p></th>
      <th>Distance<br /><p></p></th>
      <th>Reference<br /><p></p></th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
      <td>{{ row.galaxy.catalog_objname }}<br></td>
      <td>{{ row.galaxy.score|floatformat:4 }}</td>
      <td>{{ row.galaxy.ra|floatformat:4 }}<br>
          {{ row.galaxy.dec|floatformat:4 }}</td>
      <td>{{ row.galaxy.dist|floatformat:0 }} Mpc</td>
      <td>
        <div id="aladin-{{ row.galaxy.id }}" style="display: inline-block;">{% aladin_collapse row.galaxy %}</div>
      </td>
    </tr>
    {% for triplet in row.triplets %}
    <tr>
      <td style="border-top: none;"></td>
      <td style="border-top: none;" colspan="2">
	      <span><b>Date: </b>{{ triplet.obsdate }}</span><br>
	      <span><b>Filter: </b>{{ triplet.filter }}</span><br>
	      <span><b>Exp. Time: </b>{{ triplet.exposure_time }} s</span>
      </td>
      <td style="border-top: none;" colspan="3">
	    {% plot_triplets triplet row.galaxy 'list' %}
      </td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
