{% extends 'tom_common/base.html' %}
{% load bootstrap4 static gw_tags targets_extras custom_code_tags %}
{% block title %}Galaxy Observations{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
{% if user|has_gw_permissions %}
  <table class="header-table" cellpadding="0" cellspacing="0" style="background: #174460; font-family: 'Open Sans', sans-serif; color: white; width: 104.45%; margin-left: -39px; margin-top: -100px;">
    <tr height="89">
      <td align="left">
              <span style="display: inline-block; font-size: 30px; margin-left: 30px;">{{ galaxy.catalog_objname }} (for {{ superevent_id }})</span>
      </td>
      <td>
        <span style="display: inline-block; font-size: 20px;">{{ galaxy.ra|floatformat:4 }}, {{ galaxy.dec|floatformat:4 }}</span>
      </td>
      <td align="left">
        <span style="display: inline-block; font-size: 20px;">Score: {{ galaxy.score|floatformat:4 }}</span>
      </td>
      <td>
        <span style="display: inline-block; font-size: 20px;">Distance: {{ galaxy.dist|floatformat:0 }} Mpc</span>
      </td>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Obs. Date<br>
            Filter<br>
            Exposure Time<br>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>Triplet</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for triplet in triplets %}
          <tr>
            <td colspan="2">{{ triplet.obsdate }}<br> {{ triplet.filter }}<br> {{ triplet.exposure_time }}</td>
            <td colspan="5">{% plot_triplets triplet galaxy 'individual' %}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No images taken yet</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
{% endblock %}
